[submodule ".snowsaw"]
  path = .snowsaw
  url = https://github.com/arcticicestudio/snowsaw
[submodule "snowblocks/bspwm/gmail"]
  path = snowblocks/bspwm/gmail
  url = https://github.com/vyachkonovalov/polybar-gmail
