#!/usr/bin/env sh

xsetroot -cursor_name left_ptr
# glava &
dwmstatus &
# xwinwrap -fs -ni -ov -- mpv --keepaspect=no --loop --no-audio --no-input-default-bindings -wid WID ~/Desktop/backgrounds/Reimu_灵梦-scaled.mkv &
