! URXVT
! Configuration
URxvt.font: xft:Anonymous Pro:pixelsize=16,style=regular:antialias=true
URxvt.scrollBar: false
! Scheme
*foreground: #b8b8c5
*background: [100]#2a0f21
*cursorColor: #b8b8c5
*borderColor: [100]#2a0f21
*color0: #2a0f21
*color1: #54556F
*color2: #88363F
*color3: #925A5C
*color4: #245B87
*color5: #28618D
*color6: #5F6F8E
*color7: #b8b8c5
*color8: #808089
*color9: #54556F
*color10: #88363F
*color11: #925A5C
*color12: #245B87
*color13: #28618D
*color14: #5F6F8E
*color15: #b8b8c5
