! URXVT
! Configuration
URxvt.depth: 32
URxvt.font: xft:Anonymous Pro:pixelsize=16,style=regular:antialias=true
URxvt.internalBorder: 20
URxvt.scrollBar: false
! Scheme
*foreground: #d9c5c8
*background: [100]#0c0e14
*cursorColor: #d9c5c8
*borderColor: [100]#0c0e14
*color0: #0c0e14
*color1: #5E5165
*color2: #9B5C6D
*color3: #B95265
*color4: #BC927E
*color5: #656C89
*color6: #B3758A
*color7: #d9c5c8
*color8: #97898c
*color9: #5E5165
*color10: #9B5C6D
*color11: #B95265
*color12: #BC927E
*color13: #656C89
*color14: #B3758A
*color15: #d9c5c8

*color66: #0c0e14
