! URXVT
! Configuration
URxvt.font: xft:Anonymous Pro:pixelsize=13,style=regular:antialias=true
URxvt.scrollBar: false
! Scheme
*foreground: #e7e6e5
*background: [100]#070506
*cursorColor: #e7e6e5
*borderColor: [100]#070506
*color0: #070506
*color1: #6CA0C5
*color2: #AD8186
*color3: #9B97A7
*color4: #E4B8A7
*color5: #9DB0CE
*color6: #A7D1E5
*color7: #e7e6e5
*color8: #a1a1a0
*color9: #6CA0C5
*color10: #AD8186
*color11: #9B97A7
*color12: #E4B8A7
*color13: #9DB0CE
*color14: #A7D1E5
*color15: #e7e6e5
*color66: #070506
